name: tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  tests:
    name: "Python ${{ matrix.python-version }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.6", "3.10"]

    steps:
      - uses: "actions/checkout@v3"
      - uses: "actions/setup-python@v4"
        with:
          python-version: "${{ matrix.python-version }}"
      - name: "Install"
        run: "python -m pip install coverage ."
      - name: "Run tests for ${{ matrix.python-version }} on ${{ matrix.os }}"
        run: "coverage run --source=pytest_freezer -m pytest && coverage report -m"
      - name: Upload coverage to Codecov
        uses: "codecov/codecov-action@v3"
        with:
          fail_ci_if_error: true
          verbose: true
